<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ASADWHEntities" connectionString="metadata=res://*/models.t1.T1Model.csdl|res://*/models.t1.T1Model.ssdl|res://*/models.t1.T1Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVSQL-1\WHOUSE;persist security info=True;user id=asadwh;password=asadwh201601;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ASADWHEntities1" connectionString="metadata=res://*/models.dwhf.hris.dwhf_hris.csdl|res://*/models.dwhf.hris.dwhf_hris.ssdl|res://*/models.dwhf.hris.dwhf_hris.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVSQL-1\WHOUSE;persist security info=True;user id=asadwh;password=asadwh201601;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="fintrainEntities" connectionString="metadata=res://*/models.dwhb.extract_hris.extract_hris_conceptual.csdl|res://*/models.dwhb.extract_hris.extract_hris_conceptual.ssdl|res://*/models.dwhb.extract_hris.extract_hris_conceptual.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=appsql-4\train;initial catalog=fintrain;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="fintrainEntities1" connectionString="metadata=res://*/models.t1.t1.csdl|res://*/models.t1.t1.ssdl|res://*/models.t1.t1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=appsql-4\train;initial catalog=fintrain;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="fintrainEntities2" connectionString="metadata=res://*/models.t1.t1.csdl|res://*/models.t1.t1.ssdl|res://*/models.t1.t1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=appsql-4\train;initial catalog=fintrain;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="fintrainEntities3" connectionString="metadata=res://*/models.Model1.csdl|res://*/models.Model1.ssdl|res://*/models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=appsql-4\train;initial catalog=fintrain;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DWHBEntities" connectionString="metadata=res://*/models.dwhb.conform_hris.conform_hris_physical.csdl|res://*/models.dwhb.conform_hris.conform_hris_physical.ssdl|res://*/models.dwhb.conform_hris.conform_hris_physical.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\WHOUSE;initial catalog=DWHB;persist security info=True;user id=asadwh;password=asadwh201601;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DWHBEntities1" connectionString="metadata=res://*/models.dwhb.extract_hris.extract_hris_physical.csdl|res://*/models.dwhb.extract_hris.extract_hris_physical.ssdl|res://*/models.dwhb.extract_hris.extract_hris_physical.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\WHOUSE;initial catalog=DWHB;persist security info=True;user id=asadwh;password=asadwh201601;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DWHBEntities2" connectionString="metadata=res://*/models.dwhb.management.management_physical.csdl|res://*/models.dwhb.management.management_physical.ssdl|res://*/models.dwhb.management.management_physical.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\WHOUSE;initial catalog=DWHB;persist security info=True;user id=asadwh;password=asadwh201601;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DWHFEntities" connectionString="metadata=res://*/models.dwhf.hris.hris_physical.csdl|res://*/models.dwhf.hris.hris_physical.ssdl|res://*/models.dwhf.hris.hris_physical.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\whouse;initial catalog=DWHF;persist security info=True;user id=asadwh;password=asadwh201601;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RiskmanEntities" connectionString="metadata=res://*/models.riskman.riskman.csdl|res://*/models.riskman.riskman.ssdl|res://*/models.riskman.riskman.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ted;initial catalog=Riskman;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dwhfriskman" connectionString="metadata=res://*/models.dwhf.riskman.riskman.csdl|res://*/models.dwhf.riskman.riskman.ssdl|res://*/models.dwhf.riskman.riskman.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\whouse;initial catalog=DWHF;persist security info=True;user id=asadwh;password=asadwh201601;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="conform_comcare_physicalContainer" connectionString="metadata=res://*/models.dwhb.conform_comcare.conform_comcare_physical.csdl|res://*/models.dwhb.conform_comcare.conform_comcare_physical.ssdl|res://*/models.dwhb.conform_comcare.conform_comcare_physical.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\WHOUSE;initial catalog=DWHB;persist security info=True;user id=asadwh;password=asadwh201601;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="extract_hris_conceptualContainer" connectionString="metadata=res://*/models.dwhb.extract_t1.extract_t1_conceptual.csdl|res://*/models.dwhb.extract_t1.extract_t1_conceptual.ssdl|res://*/models.dwhb.extract_t1.extract_t1_conceptual.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=az-sqlbi01;initial catalog=DWHB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="management_conceptualContainer" connectionString="metadata=res://*/models.dwhb.management.management_conceptual.csdl|res://*/models.dwhb.management.management_conceptual.ssdl|res://*/models.dwhb.management.management_conceptual.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\WHOUSE;initial catalog=DWHB;persist security info=True;user id=asadwh;password=asadwh201601;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="management_physicalContainer" connectionString="metadata=res://*/models.dwhb.management.management_physical.csdl|res://*/models.dwhb.management.management_physical.ssdl|res://*/models.dwhb.management.management_physical.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\WHOUSE;initial catalog=DWHB;persist security info=True;user id=asadwh;password=asadwh201601;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="extract_comcare_physicalContainer" connectionString="metadata=res://*/models.dwhb.extract_comcare.extract_comcare_physical.csdl|res://*/models.dwhb.extract_comcare.extract_comcare_physical.ssdl|res://*/models.dwhb.extract_comcare.extract_comcare_physical.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\whouse;initial catalog=DWHB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="extract_hris_physicalContainer" connectionString="metadata=res://*/models.dwhb.extract_t1.extract_t1_physical.csdl|res://*/models.dwhb.extract_t1.extract_t1_physical.ssdl|res://*/models.dwhb.extract_t1.extract_t1_physical.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\WHOUSE;initial catalog=DWHB;persist security info=True;user id=asadwh;password=asadwh201601;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="conform_hris_conceptualContainer" connectionString="metadata=res://*/models.dwhb.conform_hris.conform_hris_conceptual.csdl|res://*/models.dwhb.conform_hris.conform_hris_conceptual.ssdl|res://*/models.dwhb.conform_hris.conform_hris_conceptual.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\WHOUSE;initial catalog=DWHB;persist security info=True;user id=asadwh;password=asadwh201601;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="hris_physicalContainer" connectionString="metadata=res://*/models.dwhf.hris.hris_physical.csdl|res://*/models.dwhf.hris.hris_physical.ssdl|res://*/models.dwhf.hris.hris_physical.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\whouse;initial catalog=DWHF;persist security info=True;user id=asadwh;password=asadwh201601;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="homecare_logicalContainer" connectionString="metadata=res://*/models.dwhf.comcare.comcare_physical.csdl|res://*/models.dwhf.comcare.comcare_physical.ssdl|res://*/models.dwhf.comcare.comcare_physical.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\whouse;initial catalog=DWHF;persist security info=True;user id=asadwh;password=asadwh201601;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="extract_t1_conceptualContainer" connectionString="metadata=res://*/models.dwhb.extract_t1.extract_t1_conceptual.csdl|res://*/models.dwhb.extract_t1.extract_t1_conceptual.ssdl|res://*/models.dwhb.extract_t1.extract_t1_conceptual.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\WHOUSE;initial catalog=DWHB;persist security info=True;user id=asadwh;password=asadwh201601;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="dwhb_extract_comcareContainer" connectionString="metadata=res://*/models.dwhb.extract_comcare.extract_comcare_conceptual.csdl|res://*/models.dwhb.extract_comcare.extract_comcare_conceptual.ssdl|res://*/models.dwhb.extract_comcare.extract_comcare_conceptual.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\whouse;initial catalog=DWHB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="conform_comcareContainer" connectionString="metadata=res://*/models.dwhb.conform_comcare.conform_comcare_conceptual.csdl|res://*/models.dwhb.conform_comcare.conform_comcare_conceptual.ssdl|res://*/models.dwhb.conform_comcare.conform_comcare_conceptual.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\WHOUSE;initial catalog=DWHB;persist security info=True;user id=asadwh;password=asadwh201601;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="homecareContainer" connectionString="metadata=res://*/models.dwhf.comcare.comcare_conceptual.csdl|res://*/models.dwhf.comcare.comcare_conceptual.ssdl|res://*/models.dwhf.comcare.comcare_conceptual.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\whouse;initial catalog=DWHF;persist security info=True;user id=asadwh;password=asadwh201601;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="extract_riskmanContainer" connectionString="metadata=res://*/models.dwhb.extract_riskman.extract_riskman_conceptual.csdl|res://*/models.dwhb.extract_riskman.extract_riskman_conceptual.ssdl|res://*/models.dwhb.extract_riskman.extract_riskman_conceptual.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\whouse;initial catalog=DWHB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="conform_riskman_conceptualContainer" connectionString="metadata=res://*/models.dwhb.conform_riskman.conform_riskman_conceptual.csdl|res://*/models.dwhb.conform_riskman.conform_riskman_conceptual.ssdl|res://*/models.dwhb.conform_riskman.conform_riskman_conceptual.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\WHOUSE;initial catalog=DWHB;persist security info=True;user id=asadwh;password=asadwh201601;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="devsql_1_DWHB" connectionString="metadata=res://*/models.dwhb.conform_finance.conform_finance_conceptual.csdl|res://*/models.dwhb.conform_finance.conform_finance_conceptual.ssdl|res://*/models.dwhb.conform_finance.conform_finance_conceptual.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\whouse;initial catalog=DWHB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DWHBEntities3" connectionString="metadata=res://*/models.dwhb.conform_finance.conform_finance_physical.csdl|res://*/models.dwhb.conform_finance.conform_finance_physical.ssdl|res://*/models.dwhb.conform_finance.conform_finance_physical.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\whouse;initial catalog=DWHB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DWHF_FINANCEEntities" connectionString="metadata=res://*/models.dwhf.finance.finance_conceptual.csdl|res://*/models.dwhf.finance.finance_conceptual.ssdl|res://*/models.dwhf.finance.finance_conceptual.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\whouse;initial catalog=DWHF_FINANCE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DWHF_FINANCEEntities1" connectionString="metadata=res://*/models.dwhf.finance.finance_physical.csdl|res://*/models.dwhf.finance.finance_physical.ssdl|res://*/models.dwhf.finance.finance_physical.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\whouse;initial catalog=DWHF_FINANCE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DWHBEntities4" connectionString="metadata=res://*/models.dwhb.conform_riskman.conform_riskman_physical.csdl|res://*/models.dwhb.conform_riskman.conform_riskman_physical.ssdl|res://*/models.dwhb.conform_riskman.conform_riskman_physical.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\whouse;initial catalog=DWHB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DWHF_FINANCEEntities2" connectionString="metadata=res://*/models.dwhf.riskman.Model1.csdl|res://*/models.dwhf.riskman.Model1.ssdl|res://*/models.dwhf.riskman.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\whouse;initial catalog=DWHF_FINANCE;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DWHF_RISKMANEntities" connectionString="metadata=res://*/models.dwhf.riskman.riskman.csdl|res://*/models.dwhf.riskman.riskman.ssdl|res://*/models.dwhf.riskman.riskman.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devsql-1\whouse;initial catalog=DWHF_RISKMAN;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="hris_conceptualContainer" connectionString="metadata=res://*/models.dwhf.hris.hris_conceptual.csdl|res://*/models.dwhf.hris.hris_conceptual.ssdl|res://*/models.dwhf.hris.hris_conceptual.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=az-sqlbi01;initial catalog=DWHF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="hris_conceptual" connectionString="metadata=res://*/models.dwhf.hris.hris_conceptual.csdl|res://*/models.dwhf.hris.hris_conceptual.ssdl|res://*/models.dwhf.hris.hris_conceptual.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=az-sqlbi01;initial catalog=DWHF;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>